# Import Library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\legion\AppData\Local\Temp\ipykernel_36788\555797462.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Data Loading

In [10]:
# path dataset makanan
foodsDfPath = 'data/nutrition.csv'
foodsDf = pd.read_csv(foodsDfPath)

# path dataset obesitas
obesDfPath = 'data/ObesityDataSet_cleaned_and_data_sinthetic.csv'
obesDf = pd.read_csv(obesDfPath)

In [11]:
# tinjau dataset makanan
foodsDf.head()

,id,calories,proteins,fat,carbohydrate,name,image
0,1,280.0,9.2,28.4,0.0,Abon,https://img-cdn.medkomtek.com/PbrY9X3ignQ8sVuj...
1,2,513.0,23.7,37.0,21.3,Abon haruwan,https://img-global.cpcdn.com/recipes/cbf330fbd...
2,3,0.0,0.0,0.2,0.0,Agar-agar,https://res.cloudinary.com/dk0z4ums3/image/upl...
3,4,45.0,1.1,0.4,10.8,Akar tonjong segar,https://images.tokopedia.net/img/cache/200-squ...
4,5,37.0,4.4,0.5,3.8,Aletoge segar,https://nilaigizi.com/assets/images/produk/pro...

In [12]:
# tinjau dataset obesitas
obesDf.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI
0,1,female,21,1.62,64,yes,no,sometimes,3,sometimes,no,between 1 and 2 l,no,0,3 to 5,no,public_transportation,normal_weight,24.386526
1,2,female,21,1.52,56,yes,no,always,3,sometimes,yes,more than 2 l,yes,4 to 5,0 to 2,sometimes,public_transportation,normal_weight,24.238227
2,3,male,23,1.80,77,yes,no,sometimes,3,sometimes,no,between 1 and 2 l,no,2 to 4,3 to 5,frequently,public_transportation,normal_weight,23.765432
3,4,male,27,1.80,87,no,no,always,3,sometimes,no,between 1 and 2 l,no,2 to 4,0 to 2,frequently,walking,overweight_level_i,26.851852
4,5,male,22,1.78,90,no,no,sometimes,1,sometimes,no,between 1 and 2 l,no,0,0 to 2,sometimes,public_transportation,overweight_level_ii,28.342381

# Data Assessing

In [13]:
# Cek shape dataset makanan
foodsDf.shape

(1346, 7)

In [14]:
# Cek shape dataset obesitas
obesDf.shape

(2111, 19)

## Penilaian Tiap Dataset

### Penilaian Dataset Makanan

In [15]:
# Penilaian dataset makanan
foodsDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346 entries, 0 to 1345
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1346 non-null   int64
 1   calories      1346 non-null   float64
 2   proteins      1346 non-null   float64
 3   fat           1346 non-null   float64
 4   carbohydrate  1346 non-null   float64
 5   name          1346 non-null   object
 6   image         1346 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 73.7+ KB

Cek Data Null

In [16]:
foodsDf.isna().sum()

id              0
calories        0
proteins        0
fat             0
carbohydrate    0
name            0
image           0
dtype: int64

Cek Data Duplikat

In [17]:
foodsDf.duplicated().sum()

0

Cek Statistik Kolom Numerik

In [18]:
foodsDf.describe()

                id     calories     proteins          fat  carbohydrate
count  1346.000000  1346.000000  1346.000000  1346.000000   1346.000000
mean    673.500000   203.217385    10.001189     7.584027     25.390193
std     388.701042   163.075430    11.847980    13.733063     32.193054
min       1.000000     0.000000     0.000000     0.000000      0.000000
25%     337.250000    75.000000     1.800000     0.500000      4.525000
50%     673.500000   146.000000     5.000000     2.000000     13.300000
75%    1009.750000   333.750000    15.000000     8.275000     37.575000
max    1346.000000   940.000000    83.000000   100.000000    647.000000

Dari hasil di atas, dapat disimpulkan bahwa pada dataset makanan:
- Tidak terdapat nilai null
- TIdak terdapat nilai duplicated
- Tidak terdapat kesalahan tipe data

### Penilaian Dataset Obesitas

In [19]:
obesDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              2111 non-null   object
 1   Gender                          2111 non-null   object
 2   Age                             2111 non-null   int64
 3   Height                          2111 non-null   float64
 4   Weight                          2111 non-null   int64
 5   family_history_with_overweight  2111 non-null   object
 6   FAVC                            2111 non-null   object
 7   FCVC                            2111 non-null   object
 8   NCP                             2111 non-null   int64
 9   CAEC                            2111 non-null   object
 10  SMOKE                           2111 non-null   object
 11  CH2O                            2111 non-null   object
 12  SCC                             2111 non-null   object
 13  FAF                             2111 non-null   object
 14  TUE                             2111 non-null   object
 15  CALC                            2111 non-null   object
 16  MTRANS                          2111 non-null   object
 17  NObeyesdad                      2111 non-null   object
 18  BMI                             2111 non-null   float64
dtypes: float64(2), int64(3), object(14)
memory usage: 313.5+ KB

Cek data null

In [20]:
obesDf.isna().sum()

id                                0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
BMI                               0
dtype: int64

Cek data duplikat

In [21]:
obesDf.duplicated().sum()

0

In [22]:
obesDf.describe()

               Age       Height       Weight          NCP          BMI
count  2111.000000  2111.000000  2111.000000  2111.000000  2111.000000
mean     24.315964     1.701677    86.588820     2.687826    29.700159
std       6.357078     0.093305    26.188572     0.809680     8.011337
min      14.000000     1.450000    39.000000     1.000000    12.998685
25%      20.000000     1.630000    65.500000     3.000000    24.325802
50%      23.000000     1.700499    83.000000     3.000000    28.719089
75%      26.000000     1.768464   107.000000     3.000000    36.016501
max      61.000000     1.980000   173.000000     4.000000    50.811753

Dari hasil di atas, bahwa pada dataset obesitas:
- Tidak ada nilai null
- Tidak ada nilai duplikat

Catatan:
1. Terdapat kesalahan tipe data ada kolom Weight, perlu perubahan dari tipe data integer menjadi float
2. Perubahan format meter menjadi centimeter pada kolom Height