# Import Library

In [1]:
# Olah Data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\legion\AppData\Local\Temp\ipykernel_55488\3266100752.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Data Loading

In [2]:
# Path 
allDietsDfPath = 'data/All_Diets.csv'
allUsersDfPath = 'data/ObesityDataSet_cleaned_and_data_sinthetic.csv'

# Dataset
allDietsDf = pd.read_csv(allDietsDfPath)
allUsersDf = pd.read_csv(allUsersDfPath)

In [15]:
allDietsDf.sample(10)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g),Extraction_day,Extraction_time
7290,dash,Spinach-Turkey Roll-Ups,american,28.47,7.15,25.42,2022-10-16,20:37:26
2790,vegan,Vegan Macaroni Salad,american,30.26,177.35,66.65,2022-10-16,20:13:40
5418,mediterranean,Mediterranean Salad,mediterranean,13.18,30.07,12.17,2022-10-16,16:49:39
4667,mediterranean,Mediterranean Tuna Salad with Croutons,mediterranean,123.77,111.23,94.53,2022-10-16,16:45:17
6576,dash,Tennessee Hollow,world,0.04,1.12,0.00,2022-10-16,20:32:37
1148,paleo,Grain Free Double Chocolate Banana Bread,american,73.61,224.75,186.62,2022-10-16,17:30:14
1119,paleo,Paleo Orange Chicken,french,234.69,98.07,97.05,2022-10-16,17:29:54
1862,vegan,Instant-Pot Vegan Cauliflower Queso,american,27.68,59.25,18.02,2022-10-16,20:06:59
7730,dash,Jazzed Up Turkey Tetrazzini,american,517.47,575.58,377.75,2022-10-16,20:40:17
2806,keto,Zucchini Noodles with Spicy Meatballs Recipe,asian,57.79,39.10,86.53,2022-10-16,17:58:03

In [6]:
allUsersDf.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI
0,1,female,21,1.62,64,yes,no,sometimes,3,sometimes,no,between 1 and 2 l,no,0,3 to 5,no,public_transportation,normal_weight,24.386526
1,2,female,21,1.52,56,yes,no,always,3,sometimes,yes,more than 2 l,yes,4 to 5,0 to 2,sometimes,public_transportation,normal_weight,24.238227
2,3,male,23,1.80,77,yes,no,sometimes,3,sometimes,no,between 1 and 2 l,no,2 to 4,3 to 5,frequently,public_transportation,normal_weight,23.765432
3,4,male,27,1.80,87,no,no,always,3,sometimes,no,between 1 and 2 l,no,2 to 4,0 to 2,frequently,walking,overweight_level_i,26.851852
4,5,male,22,1.78,90,no,no,sometimes,1,sometimes,no,between 1 and 2 l,no,0,0 to 2,sometimes,public_transportation,overweight_level_ii,28.342381

# Data Assessing

In [10]:
# Cek shape dataset tipe diet
allDietsDf.shape

(7806, 8)

In [9]:
# Cek shape dataset users
allUsersDf.shape

(2111, 19)

## Informasi Umum

### Dataset Diet

In [11]:
allDietsDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7806 entries, 0 to 7805
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Diet_type        7806 non-null   object
 1   Recipe_name      7806 non-null   object
 2   Cuisine_type     7806 non-null   object
 3   Protein(g)       7806 non-null   float64
 4   Carbs(g)         7806 non-null   float64
 5   Fat(g)           7806 non-null   float64
 6   Extraction_day   7806 non-null   object
 7   Extraction_time  7806 non-null   object
dtypes: float64(3), object(5)
memory usage: 488.0+ KB

### Dataset *Users*

In [33]:
allUsersDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              2111 non-null   object
 1   Gender                          2111 non-null   object
 2   Age                             2111 non-null   int64
 3   Height                          2111 non-null   float64
 4   Weight                          2111 non-null   float64
 5   family_history_with_overweight  2111 non-null   object
 6   FAVC                            2111 non-null   object
 7   FCVC                            2111 non-null   object
 8   NCP                             2111 non-null   int64
 9   CAEC                            2111 non-null   object
 10  SMOKE                           2111 non-null   object
 11  CH2O                            2111 non-null   object
 12  SCC                             2111 non-null   object
 13  FAF                             2111 non-null   object
 14  TUE                             2111 non-null   object
 15  CALC                            2111 non-null   object
 16  MTRANS                          2111 non-null   object
 17  NObeyesdad                      2111 non-null   object
 18  BMI                             2111 non-null   float64
dtypes: float64(3), int64(2), object(14)
memory usage: 313.5+ KB

## Cek Data Null

### Dataset Diet

In [13]:
allDietsDf.isna().sum()

Diet_type          0
Recipe_name        0
Cuisine_type       0
Protein(g)         0
Carbs(g)           0
Fat(g)             0
Extraction_day     0
Extraction_time    0
dtype: int64

### Dataset *Users*

In [14]:
allUsersDf.isna().sum()

id                                0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
BMI                               0
dtype: int64

## Cek Data Duplikat

### Dataset Diet

In [16]:
allDietsDf.duplicated().sum()

5

### Dataset *Users*

In [17]:
allUsersDf.duplicated().sum()

0

## Nilai Statistik Dataset

### Dataset Diet

In [27]:
allDietsDf.describe()

        Protein(g)     Carbs(g)       Fat(g)
count  7806.000000  7806.000000  7806.000000
mean     83.231498   152.123189   117.328542
std      89.797282   185.907322   122.098117
min       0.000000     0.060000     0.000000
25%      24.415000    36.162500    41.067500
50%      56.280000    93.415000    84.865000
75%     112.357500   205.915000   158.290000
max    1273.610000  3405.550000  1930.240000

### Dataset *Users*

In [28]:
allUsersDf.describe()

               Age       Height       Weight          NCP          BMI
count  2111.000000  2111.000000  2111.000000  2111.000000  2111.000000
mean     24.315964     1.701677    86.588820     2.687826    29.700159
std       6.357078     0.093305    26.188572     0.809680     8.011337
min      14.000000     1.450000    39.000000     1.000000    12.998685
25%      20.000000     1.630000    65.500000     3.000000    24.325802
50%      23.000000     1.700499    83.000000     3.000000    28.719089
75%      26.000000     1.768464   107.000000     3.000000    36.016501
max      61.000000     1.980000   173.000000     4.000000    50.811753

Dari hasil analisa pada tahap **Data Assessing** kesimpulannya adalah:
1. Dataset Diet
   - Tidak terdapat kesalahan tipe data kolom
   - Tidak terdapat nilai *null*
   - Terdapat **5** data duplikat

Catatan:
Terdapat nilai 0 pada kolom **Protein(g)**, dan **Fat(g)** dari hasil eksekusi perintah *describe* yang perlu ditinjau ulang pada tahap **EDA**.
 
2. Dataset *Users*
   - Terdapat kesalahan tipe data pada kolom **Weight**, seharusnya *float* bukan *integer*
   - Tidak terdapat nilai *null*
   - Tidak terdapat data duplikat

# Data Cleaning

## Hapus Data Duplikat Dataset Diet

Penghapusan data duplikat pada dataset diet dilakukan secara langsung karena jumlahnya yang tergolong kecil dibanding total banyak data yang ada.

In [29]:
allDietsDf.shape

(7806, 8)

In [30]:
allDietsDf.drop_duplicates(inplace=True)

In [31]:
allDietsDf.shape

(7801, 8)

Saat ini pada dataset diet sudah tidak ada data duplikat

## Ubah Tipe Data Kolom Weight Dataset *Users*

In [32]:
allUsersDf['Weight'] = allUsersDf.Weight.astype(float)

Saat ini, kolom **Weight** sudah berubah tipe data menjadi *float* dari yang semula *integer*.

# Exploratory Data Analysis (EDA)

## Cek Nilai *Unique*
### Data Diet

Diet_type

In [21]:
print('Jumlah nilai unik adalah', allDietsDf.Diet_type.nunique())
print('Uraian nilai unik: \n', allDietsDf.Diet_type.unique())

Jumlah nilai unik adalah 5
Uraian nilai unik:
 ['paleo' 'vegan' 'keto' 'mediterranean' 'dash']

Cuisine_type

In [23]:
print('Jumlah nilai unik adalah', allDietsDf.Cuisine_type.nunique())
print('Uraian nilai unik: \n', allDietsDf.Cuisine_type.unique())

Jumlah nilai unik adalah 19
Uraian nilai unik:
 ['american' 'south east asian' 'mexican' 'chinese' 'mediterranean'
 'italian' 'french' 'indian' 'nordic' 'eastern europe' 'central europe'
 'kosher' 'british' 'caribbean' 'south american' 'middle eastern' 'asian'
 'japanese' 'world']

### Data User

Gender

In [24]:
print('Jumlah nilai unik adalah', allUsersDf.Gender.nunique())
print('Uraian nilai unik: \n', allUsersDf.Gender.unique())

Jumlah nilai unik adalah 2
Uraian nilai unik:
 ['female' 'male']

family_history_with_overweight

In [25]:
print('Jumlah nilai unik adalah', allUsersDf.family_history_with_overweight.nunique())
print('Uraian nilai unik: \n', allUsersDf.family_history_with_overweight.unique())

Jumlah nilai unik adalah 2
Uraian nilai unik:
 ['yes' 'no']

NObeyesdad

In [26]:
print('Jumlah nilai unik adalah', allUsersDf.NObeyesdad.nunique())
print('Uraian nilai unik: \n', allUsersDf.NObeyesdad.unique())

Jumlah nilai unik adalah 7
Uraian nilai unik:
 ['normal_weight' 'overweight_level_i' 'overweight_level_ii'
 'obesity_type_i' 'insufficient_weight' 'obesity_type_ii'
 'obesity_type_iii']

## Cek Invalid Value